# Django Settings
SECRET_KEY=your_secret_key
DEBUG=False
ALLOWED_HOSTS=*

# Database Settings (PostgreSQL)
DB_NAME=db_name
DB_USER=username
DB_PASSWORD=secret_password
DB_HOST=db
DB_PORT=5432

# Celery & Redis Settings
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
