# Django Settings
SECRET_KEY=your_secret_key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Database Settings (PostgreSQL)
DB_NAME=db_name
DB_USER=username
DB_PASSWORD=secret_password
DB_HOST=localhost
DB_PORT=5432
